// About page (/about)

#about {

  p {
    margin: auto;
  }
  .developerStory{
    width: 100%;
    opacity: 1;
  }
  .developerStory :hover{
    width: 100%;
    opacity: 0.8;
  }
  .developerStoryBorder{
    border: medium solid #f48024;
  }
  .developerStoryContent{
    //padding: 50px;
  }
}
